body{
  background-color: rgba(94, 88, 88, 0.178);
  background-image: url("Components/images/15442036_5592750.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  overflow: hidden;
  
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}




.ubod1{
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  
  padding-top: 1.5vh;
  padding-bottom: 2.7vh;

  background-color: rgb(255, 0, 0);
  animation: ubod1-color-change 10s linear infinite;

}
@keyframes ubod1-color-change {
0% {
  background-color: #791714;
}
50% {
  background-color: rgb(220,20,60)
}
100% {
  background-color: #791714;
}
}




.Lbod1{
  position: fixed;
  bottom:0px;
  right: 0px;
  left: 0%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  padding-top: 1.7vh;
  padding-bottom: 2.7vh;

  background-color: rgb(255, 0, 0);
  animation: ubod1-color-change 10s linear infinite;

}


.SA1{
  
  
  padding-block-end: 800px;
  margin-top: 30px;
  
  margin-left:auto;
  margin-right:auto;
  width: 40%;
  bottom:30px;
  
  max-width: 400px;
  min-width: 400px;

  height: 90%;
  background: rgba(179, 167, 167, 0.048);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 0px solid rgba(255, 255, 255, 0.164);
  text-align: center;
  
  
}

.SA2{
  
  text-align: center;
  bottom: 30px;
  
}

@keyframes spinning {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
#loginimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  animation-name: spinning;
animation-duration: 5s;
animation-iteration-count: infinite;

animation-timing-function: linear;
  max-width:10%;
  
  
}

#topic{
  text-align: center;
  color: rgb(255, 255, 255); 
  font-size: xx-large; 
}


.sform{
  display: inline-block;
  font-size: 20px;
  margin: 10;
  
}
#labels{
  color: black;
  
}


.area{
  width: 90%;
  margin: auto;
  background-color: #55535325;
  border-radius: 10px;
  border: none;
  border-bottom: 1px solid #ff0000;
  color: aliceblue;
  transition: padding 0.5s ease-in-out; 
}
.area:hover {
  width: 100%;
}

#labels{
  color: white;
}

#btns{
background-color: #55535325;
color: rgb(255, 255, 255);
  border-radius: 10px;
  display: inline-block;

  text-transform: uppercase;
  border: none;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2),
              inset 0 -2px 0 1px rgba(255, 255, 255, 0.1),
              0 2px 2px rgba(0, 0, 0, 0.3);
  background-image: linear-gradient(to bottom, 55535325, rgba(0, 0, 0, 0.1));

}
#btns:hover {
background: #003346;
color: rgb(255, 255, 255);
box-shadow: 0 5px 15px rgba(255, 0, 0, 0.555);
background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
}

#btnsc{
  background-color: #ce151d; 
  border-color: rgba(0, 0, 0, 0.103); 
  color: white;
}
#btnsc:hover {
transform: scale(1.1);
background-color: #003346;
color: #ffffff;
cursor: pointer;
}
